:root[data-theme='light'] {
  --background-color: #f4f0e8;
  --text-color: #252424;
  --background-card: #252424;
  --text-card: #f4f0e8;
}

:root[data-theme='dark'] {
  --background-color: #252424;
  --text-color: #f4f0e8;
  --background-card: #f4f0e8;
  --text-card: #252424;
}

$dark: #252424;
$light: #f4f0e8;
$bg_header: rgb(198, 198, 235);
$bg_modal: rgb(231, 231, 175);
