@import './_vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px/1.5 'Afacad', sans-serif, 'Lucida Sans', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  position: absolute;
  top: 100px;
}
